@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

@keyframes HeaderFade {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.header-fade {
  animation: HeaderFade 1s;
}

/* Fonts */

.poppins {
  font-family: var(--font-poppins);
}

.kaushan {
  font-family: var(--font-kaushan);
}

.lato {
  font-family: var(--font-lato);
}
