.article h2 {
  @apply text-2xl lg:text-3xl font-semibold mt-8;
  font-family: var(--font-kaushan);
}

.article h3 {
  @apply text-xl lg:text-2xl font-semibold mt-8;
  font-family: var(--font-kaushan);
}

.article p {
  @apply text-base lg:text-lg my-4 text-black opacity-65;
}

.article img {
  @apply hidden;
}

.article ul {
  @apply flex flex-col gap-2.5 list-inside list-disc;
}

.article ul li {
  @apply text-base lg:text-lg opacity-65;
}

.article div {
  @apply text-base lg:text-lg leading-[30px] 2xl:leading-[36px];
  padding: 1.5rem !important;
}

.article pre {
  @apply hidden;
}

.article table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 20px 0;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow-x: auto; /* Umożliwia przewijanie poziome na małych ekranach */
}

.article table th,
.article table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.article table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
  color: #555555;
  border-top: 1px solid #cccccc;
}

.article table tr:last-child td {
  border-bottom: none;
}

.article table tr:hover {
  background-color: #f9f9f9;
}

.article table tr:nth-child(even) {
  background-color: #fafafa;
}

@media screen and (max-width: 600px) {
  .article table {
    font-size: 14px; /* Zmniejszenie rozmiaru czcionki na mniejszych ekranach */
  }

  .article table th,
  .article table td {
    padding: 8px 10px; /* Zmniejszenie paddingu na mniejszych ekranach */
  }

  .article table th {
    font-size: 12px; /* Mniejszy rozmiar czcionki dla nagłówków */
  }
}
